

<div class="home_section">
	<div class="home_section1">
		<%= link_to '나눌래요', new_product_path %>
	</div>
	<div class="home_section2">
		<%= link_to '받을래요', '/products' %>
	</div>
</div>


