<!DOCTYPE html>
<html>
<head>
	<style>
	*{
		
	}
		body{
			margin :0;
			padding:0;
			width:100vw;
			height:100vh;
		}
		.picture-container{
			width:100vw;
			flex-wrap:wrap;
			display:flex;
			position:relative;

		}
		.vector-picture{
			width:100%;
			height:100%;
			/*float:left;*/
		position:relative;
		}
		.vector-picture img{
			width:100vw;
			height:100vh;
			z-index:1;

		}
		.mirror{
			position:absolute;
			bottom:300px;
			left: 100px;
			z-index:2;
		}
		.stand{
			position:absolute;
			bottom:300px;
			right:150px;
			z-index:2;
		}	
		.cabinet{
			position:absolute;
			bottom:300px;
			left: 500px;
			z-index:2;
		} 
		.bed{
			position:absolute;
			bottom:300px;
			left: 1000px;
			z-index:2;	
		}

	</style>

</head>


<body>

<div class="picture-container">
	<div class="vector-picture"><img src="/bedroom final.png"></div>
	<div class="slipper"><a href=""><img src="/slipper.png"></a></div>
	<div class="mirror"><a href=""><img src="/mirror.png"></a></div>
	<div class="stand"><a href=""><img src="/stand.png"></a></div>
	<div class="cabinet"><a href=""><img src="/cabinet.png"></a></div>
	<div class="bed"><a href=""><img src="/bed.png"></a></div>

</div>


</body>
</html>