/* main color 
-blue : #40407a
-yellow : #ffda79
-white: #f7f1e3

;
*/

*{
    box-sizing:border-box;
    /*border:1px solid black;*/
}
body {
    font-family: "Lato", sans-serif;
    margin:0 auto;
    
}

 .home_section{
    display:flex;
    justify-content:center;
}
 .home_section1{
    background-image:url("/giving hand.png");
    height:100vh;
    width:40vw;
    margin:0 auto;
    /*border:1px solid black;*/
    background-size:contain;
    background-repeat:no-repeat;
}
.home_section2{
    background-image:url("/taking hand.png");
    height:100vh;
    width:40vw;
    margin:0 auto;
    /*border:1px solid black;*/
    background-size:contain;
    background-repeat:no-repeat;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
 .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
 .sidenav a:hover {
    color: #f1f1f1;
}
 .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
 @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.main_section{
    width:70vw;
    margin: 0 auto;
}

.card {
    position: relative;
    width: 100%;
}

.card-body {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  /*backface-visibility: hidden;*/
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .card-body {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
}

.btn-spec {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}